/*INDEX*/
/*media queris INDEX*/
@media screen and (max-width: 767px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 20%;
    grid-template-areas: "contenedorTitulo contenedorTitulo " "contenedorImagenUno contenedorImagenDos " "contenedorImagenTres contenedorImagenTres" "divMate divMate ";
    color: whitesmoke;
    background-color: #a4c464; }
    .section .contenedorTitulo {
      grid-area: contenedorTitulo; }
    .section .concontenedorImagenUno {
      grid-area: contenedorImagenUno; }
    .section .contenedorImagenDos {
      grid-area: contenedorImagenDos; }
    .section .contenedorImagenTres {
      grid-area: contenedorImagenTres; }
    .section .divMate {
      grid-area: divMate; }
  footer {
    grid-area: footer;
    display: flex;
    align-self: flex-end; } }

@media screen and (max-width: 665px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% 25% 25%;
    grid-template-areas: "contenedorTitulo contenedorTitulo " "contenedorImagenUno contenedorImagenDos " "contenedorImagenTres contenedorImagenTres" "divMate divMate ";
    color: whitesmoke;
    background-color: #a4c464; }
    .section .contenedorTitulo {
      width: 80%; }
    .section .contenedorTitulo p {
      display: none; }
    .section .contenedorTitulo {
      grid-area: contenedorTitulo; }
    .section .contenedorTitulo h2 {
      font-size: 30px;
      display: flex;
      align-self: flex-end; }
    .section .concontenedorImagenUno {
      grid-area: contenedorImagenUno; }
    .section .contenedorImagenDos {
      grid-area: contenedorImagenDos; }
    .section .contenedorImagenTres {
      grid-area: contenedorImagenTres; }
    .section .divMate {
      grid-area: divMate; } }

@media screen and (max-width: 587px) {
  .divMate h4 {
    display: none; } }

@media screen and (max-width: 512px) {
  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 20% 20% 20%;
    grid-template-areas: "contenedorTitulo " "contenedorImagenUno " "contenedorImagenDos" "contenedorImagenTres" "divMate ";
    color: whitesmoke;
    background-color: #a4c464; }
    .section .contenedorTitulo {
      grid-area: contenedorTitulo; }
    .section .concontenedorImagenUno {
      grid-area: contenedorImagenUno; }
    .section .contenedorImagenDos {
      grid-area: contenedorImagenDos; }
    .section .contenedorImagenTres {
      grid-area: contenedorImagenTres; }
    .section .divMate {
      grid-area: divMate;
      width: 100%;
      justify-items: inherit;
      justify-self: center; }
    .section .divMate p {
      font-size: 1.1rem; } }

@media screen and (max-width: 360px) {
  .divMate p {
    font-size: 1.1rem;
    padding: 40px; } }

@media screen and (max-width: 375px) {
  .divMate p {
    padding: 10px;
    font-size: 15px; }
  .footer {
    margin-bottom: 1px;
    flex-direction: column;
    height: 100%; } }

/*GALERIA*/
/*media queris GALERIA*/
@media screen and (max-width: 537px) {
  .mainTitutloGaleria {
    text-align: center;
    font-size: 2rem; }
  .carrusel {
    width: 90%; }
  #carouselExampleControls:hover {
    display: none; } }

@media screen and (max-width: 499px) {
  .carrusel {
    width: 80%; }
  #carouselExampleControls:hover {
    display: none; } }

@media screen and (max-width: 461px) {
  .carrusel {
    width: 60%; }
  #carouselExampleControls:hover {
    display: none; } }

@media screen and (max-width: 409px) {
  .carrusel {
    width: 45%; }
  #carouselExampleControls:hover {
    display: none; } }

@media screen and (max-width: 381px) {
  .carrusel {
    width: 45%; }
  #carouselExampleControls:hover {
    display: none; }
  .mainTitutloGaleria {
    display: flex;
    justify-self: baseline; } }

@media screen and (max-width: 370px) {
  .carrusel {
    width: 25px; }
  #carouselExampleControls:hover {
    display: none; }
  .mainTitutloGaleria {
    display: flex;
    justify-self: baseline; } }

/*NOSOTROS*/
/*media queris NOSOTROS*/
@media screen and (max-width: 503px) {
  .sectionN {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: "TitutloMainN TitutloMainN " "parrafoMainN parrafoMainN " "contenedorCardUno contenedorCardDos " "contenedorCardTres contenedorCardTres";
    background-color: #a4c464; }
    .sectionN .TitutloMainN {
      grid-area: TitutloMainN; }
    .sectionN .parrafoMainN {
      grid-area: parrafoMainN; }
    .sectionN .contenedorCardUno {
      grid-area: contenedorCardUno;
      height: 76%; }
    .sectionN .contenedorCardDos {
      grid-area: contenedorCardDos; }
    .sectionN .contenedorCardTres {
      grid-area: contenedorCardTres; } }

@media screen and (max-width: 412px) {
  .sectionN {
    display: grid;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas: "TitutloMainN TitutloMainN " "parrafoMainN parrafoMainN " "contenedorCardUno contenedorCardDos " "contenedorCardTres contenedorCardTres";
    background-color: #a4c464; }
    .sectionN .TitutloMainN {
      grid-area: TitutloMainN; }
    .sectionN .parrafoMainN {
      grid-area: parrafoMainN; }
    .sectionN .contenedorCardUno {
      grid-area: contenedorCardUno;
      height: 76%; }
    .sectionN .contenedorCardDos {
      grid-area: contenedorCardDos; }
    .sectionN .contenedorCardTres {
      grid-area: contenedorCardTres;
      height: 35%; } }

@media screen and (max-width: 471px) {
  .parrafoMainN {
    font-size: 1.1rem; } }

@media screen and (max-width: 332px) {
  .sectionN {
    display: grid;
    grid-template-rows: 17% 17% 19% 17%;
    grid-template-areas: "TitutloMainN  " "parrafoMainN  " "contenedorCardUno" "contenedorCardDos" "contenedorCardTres";
    background-color: #a4c464; }
    .sectionN .TitutloMainN {
      grid-area: TitutloMainN; }
    .sectionN .parrafoMainN {
      grid-area: parrafoMainN;
      margin-top: 1px; }
    .sectionN .contenedorCardUno {
      grid-area: contenedorCardUno;
      height: 76%; }
    .sectionN .contenedorCardDos {
      grid-area: contenedorCardDos; }
    .sectionN .contenedorCardTres {
      grid-area: contenedorCardTres;
      height: 35%; } }

/*NOSOTROS*/
/*media queris nosotros*/
@media screen and (max-width: 1000px) {
  .mainMatesSection {
    display: grid;
    grid-template-areas: "mainMatesTitulo mainMatesTitulo" " contenedorCardMatesUno contenedorCardMatesDos" "contenedorCardMatesTres contenedorCardMatesCuatro" "contenedorCardMatesCinco contenedorCardMatesSeis"; } }

@media screen and (max-width: 661px) {
  .mainMatesSection {
    display: grid;
    grid-template-areas: "mainMatesTitulo " " contenedorCardMatesUno " "contenedorCardMatesDos" "contenedorCardMatesTres" "contenedorCardMatesCuatro" "contenedorCardMatesCinco" "contenedorCardMatesSeis"; } }

@media screen and (max-width: 323px) {
  div.card.text {
    background-color: olivedrab;
    color: whitesmoke;
    width: 85%; } }

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Merienda', cursive;
  color: whitesmoke; }

/*GRID LAYOUT*/
/*INDEX*/
.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  row-gap: 10px;
  /*HEADER*/
  /*MAIN*/ }
  .body .header {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .body .header .navbar {
      display: flex;
      background-color: #a4c464;
      justify-content: end;
      color: white; }
    .body .header .navbar-brand {
      color: white; }
    .body .header .navbar-expand-lg .navbar-nav .nav-link {
      color: white; }
  .body .main {
    grid-area: main;
    /*grid section index*/
    /*CONTENEDOR DE IMAGENES*/ }
    .body .main .section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 20% 40% 45%;
      grid-template-areas: "contenedorTitulo contenedorTitulo contenedorTitulo" "contenedorImagenUno contenedorImagenDos contenedorImagenTres" "divMate divMate divMate";
      color: white;
      background-color: #a4c464; }
    .body .main .contenedorTitulo {
      grid-area: contenedorTitulo;
      display: flex;
      text-align: center;
      margin-top: 5rem;
      box-shadow: 1px 1px 1px; }
    .body .main .contenedorTitulo h2 {
      box-shadow: 1px 1px 1px;
      text-align: center;
      padding: 25px;
      font-size: 3.8rem; }
    .body .main .contenedorTitulo p {
      text-align: center;
      padding: 50px;
      font-size: 2rem;
      padding: 90px;
      display: flex;
      align-self: center; }
    .body .main .contenedorImagenUno {
      grid-area: contenedorImagenUno;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .contenedorImagenDos {
      grid-area: contenedorImagenDos;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .contenedorImagenTres {
      grid-area: contenedorImagenTres;
      text-align: center;
      align-self: end;
      box-shadow: 1px 1px 1px; }
    .body .main .divMate {
      grid-area: divMate;
      display: flex;
      text-align: center;
      flex-direction: column;
      font-size: 1.3rem;
      color: black;
      font-weight: bolder;
      margin-top: 8px;
      justify-content: space-evenly;
      height: 40rem;
      background-image: url(../img/bombillasDos.jpeg);
      background-position: center; }
      .body .main .divMate h4 {
        font-size: 2.5rem; }
      .body .main .divMate p {
        padding: 90px; }
  .body .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #a4c464;
    box-shadow: 1px 1px 1px black;
    margin-top: 136px;
    height: 50%;
    /*iconos footer*/ }
    .body .footer .iconoFace {
      margin-top: 20px; }
    .body .footer .iconoInsta {
      margin-top: 20px; }
    .body .footer .iconoWhats {
      margin-top: 20px; }
    .body .footer .tituloFooter {
      margin-top: 40px;
      color: white; }

/*GALERIA*/
/*GRID GALERIA*/
.bodyG {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "mainG mainG mainG" "footer footer footer";
  row-gap: 10px;
  /*HEADER*/
  /*FOOTER*/ }
  .bodyG .header {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .bodyG .header .navbar {
      display: flex;
      background-color: #a4c464;
      justify-content: end;
      color: white; }
    .bodyG .header .navbar-brand {
      color: white; }
    .bodyG .header .navbar-expand-lg .navbar-nav .nav-link {
      color: white; }
  .bodyG .mainG {
    grid-area: mainG;
    /* GRID SECTION*/ }
    .bodyG .mainG .sectionG {
      display: grid;
      grid-template-areas: "mainTitutloGaleria mainTitutloGaleria mainTitutloGaleria" "carrusel carrusel carrusel" "mainParrafoGaleria mainParrafoGaleria mainParrafoGaleria";
      background-color: #a4c464;
      /*TITULO MAIN*/
      /*CARRUSEL*/ }
      .bodyG .mainG .sectionG .mainTitutloGaleria {
        grid-area: mainTitutloGaleria;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 4rem;
        margin-top: 6rem;
        box-shadow: 6px 6px 6px; }
      .bodyG .mainG .sectionG .carrusel {
        grid-area: carrusel;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
      .bodyG .mainG .sectionG .mainParrafoGaleria {
        grid-area: mainParrafoGaleria;
        margin-top: 5rem;
        text-align: center;
        margin-bottom: 8rem;
        color: white;
        font-size: 1.4rem;
        box-shadow: 6px 6px 6px;
        padding: 100px; }
  .bodyG .footerG {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #a4c464;
    box-shadow: 1px 1px 1px black;
    margin-top: 1px;
    height: 130%; }

/*NOSOTROS*/
/*GRID NOSOTROS*/
.bodyN {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "mainN mainN mainN" "footer footer footer";
  row-gap: 10px;
  /*HEADER*/
  /*Footer Nosotros*/ }
  .bodyN .header {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .bodyN .header .navbar {
      display: flex;
      background-color: #a4c464;
      justify-content: end;
      color: white; }
    .bodyN .header .navbar-brand {
      color: white; }
    .bodyN .header .navbar-expand-lg .navbar-nav .nav-link {
      color: white; }
  .bodyN .mainN {
    grid-area: mainN;
    /*GRID SECTION*/ }
    .bodyN .mainN .sectionN {
      display: grid;
      grid-template-areas: "TitutloMainN TitutloMainN TitutloMainN" "parrafoMainN parrafoMainN parrafoMainN" "contenedorCardUno contenedorCardDos contenedorCardTres";
      background-color: #a4c464;
      /*TITULO MAIN*/
      /*PARRAFO MAIN*/
      /*CARD NOSOTROS*/ }
      .bodyN .mainN .sectionN .TitutloMainN {
        grid-area: TitutloMainN;
        text-align: center;
        color: white;
        margin-top: 7rem;
        font-size: 3rem;
        box-shadow: 6px 6px 6px; }
      .bodyN .mainN .sectionN .parrafoMainN {
        grid-area: parrafoMainN;
        text-align: center;
        color: white;
        margin-top: 10rem;
        font-size: 1.7rem;
        display: flex;
        box-shadow: 6px 6px 6px;
        padding: 75px; }
      .bodyN .mainN .sectionN .contenedorCardUno {
        grid-area: contenedorCardUno;
        margin: 20px;
        text-align: center;
        background-color: darkolivegreen;
        border-radius: 20px;
        transition: all 400ms ease;
        margin-top: 15rem;
        margin-bottom: 7rem; }
        .bodyN .mainN .sectionN .contenedorCardUno .card {
          background-color: darkolivegreen;
          color: white;
          overflow: hidden;
          border-radius: 20px;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          transition: all 400ms ease;
          height: 100%; }
          .bodyN .mainN .sectionN .contenedorCardUno .card :hover {
            box-shadow: 5px 5px 20px black;
            transform: translateY(-3%); }
      .bodyN .mainN .sectionN .contenedorCardDos {
        grid-area: contenedorCardDos;
        margin: 20px;
        text-align: center;
        border-radius: 20px;
        transition: all 400ms ease;
        margin-top: 15rem;
        background-color: darkolivegreen;
        margin-bottom: 7rem; }
        .bodyN .mainN .sectionN .contenedorCardDos .card {
          background-color: darkolivegreen;
          color: white;
          overflow: hidden;
          border-radius: 20px;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          transition: all 400ms ease; }
          .bodyN .mainN .sectionN .contenedorCardDos .card :hover {
            box-shadow: 5px 5px 20px black;
            transform: translateY(-3%); }
      .bodyN .mainN .sectionN .contenedorCardTres {
        grid-area: contenedorCardTres;
        margin: 20px;
        text-align: center;
        border-radius: 20px;
        transition: all 400ms ease;
        margin-top: 15rem;
        background-color: darkolivegreen;
        margin-bottom: 7rem; }
        .bodyN .mainN .sectionN .contenedorCardTres .card {
          background-color: darkolivegreen;
          color: white;
          overflow: hidden;
          border-radius: 20px;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          transition: all 400ms ease; }
          .bodyN .mainN .sectionN .contenedorCardTres .card :hover {
            box-shadow: 5px 5px 20px black;
            transform: translateY(-3%); }
  .bodyN .footerNos {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: #a4c464;
    box-shadow: 1px 1px 1px black;
    margin-top: 1px;
    height: 130%; }

/*CONTACTO*/
/*GRID SECTION CONTACTO*/
.sectionContacto {
  display: grid;
  grid-template-areas: "dContacto " "tContacto ";
  background-color: #a4c464;
  height: 125%; }
  .sectionContacto .dContacto {
    grid-area: dContacto;
    text-align: center;
    margin-bottom: 2rem; }
    .sectionContacto .dContacto .tituloContacto {
      font-size: 3rem;
      margin-top: 3.4rem; }
    .sectionContacto .dContacto .parrafoContacto {
      margin-top: 3rem;
      font-size: 2rem; }
  .sectionContacto .tContacto {
    grid-area: tContacto;
    text-align: center; }
    .sectionContacto .tContacto .input {
      color: black; }

/*GRID MATES TERMOS BOMBILLAS*/
/*MATES TERMOS BOMBILLAS*/
.bodyMates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 18% 45% 6;
  grid-template-areas: "header header header" "mainMates mainMates mainMates" "footerM footerM footerM";
  row-gap: 10px;
  /*FOOTER*/ }
  .bodyMates .header {
    grid-area: header;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/brazilian-chimarrao.webp);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .bodyMates .mainMates {
    background-color: #a4c464;
    grid-area: mainMates; }
    .bodyMates .mainMates .mainMatesSection {
      display: grid;
      grid-template-areas: "mainMatesTitulo mainMatesTitulo mainMatesTitulo" " contenedorCardMatesUno contenedorCardMatesDos contenedorCardMatesTres" "contenedorCardMatesCuatro contenedorCardMatesCinco contenedorCardMatesSeis";
      background-color: #a4c464;
      /*CARD MATES TERMOS BOMBILLAS*/ }
      .bodyMates .mainMates .mainMatesSection .mainMatesTitulo {
        grid-area: mainMatesTitulo;
        color: white;
        margin-top: 4rem;
        box-shadow: 6px 6px 6px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesUno {
        grid-area: contenedorCardMatesUno;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;
        width: 300px;
        margin: 20px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection div.card.text {
        background-color: olivedrab;
        color: whitesmoke; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesDos {
        grid-area: contenedorCardMatesDos;
        flex-wrap: wrap;
        margin-top: 5rem;
        width: 300px;
        margin: 20px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesTres {
        grid-area: contenedorCardMatesTres;
        flex-wrap: wrap;
        margin-top: 5rem;
        width: 300px;
        margin: 20px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesCuatro {
        grid-area: contenedorCardMatesCuatro;
        flex-wrap: wrap;
        width: 300px;
        margin: 20px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesCinco {
        grid-area: contenedorCardMatesCinco;
        flex-wrap: wrap;
        width: 300px;
        margin: 20px;
        text-align: center; }
      .bodyMates .mainMates .mainMatesSection .contenedorCardMatesSeis {
        grid-area: contenedorCardMatesSeis;
        flex-wrap: wrap;
        width: 300px;
        margin: 20px;
        text-align: center; }
  .bodyMates .footerM {
    grid-area: footerM;
    justify-content: space-between;
    background-color: #a4c464;
    box-shadow: 1px 1px 1px black;
    display: grid;
    grid-template-areas: "tituloFooter iconoFace iconoInsta iconoWhats";
    grid-template-columns: 25% 25% 25% 25%; }
