/*INDEX*/
/*media queris INDEX*/
@media screen and (max-width:1056px) {
    .body{
        .main{ 
        .section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 20%;
        grid-template-areas: "contenedorTitulo contenedorTitulo "
            "contenedorImagenUno contenedorImagenDos "
            "contenedorImagenTres contenedorImagenTres"
            "divMate divMate ";
        color: whitesmoke;
        background-color: rgb(164, 196, 100);
        .contenedorTitulo {
            grid-area: contenedorTitulo;
        }

        .concontenedorImagenUno {
            grid-area: contenedorImagenUno;
        }
    
        .contenedorImagenDos {
            grid-area: contenedorImagenDos;
        }
    
        .contenedorImagenTres {
            grid-area: contenedorImagenTres;
        }
    
        .divMate {
            grid-area: divMate;
        }
             }
    footer {
        grid-area: footer;
        display: flex;
        align-self: flex-end;
     }
    }
 } 
}
/*parrafo*/
@media screen and (max-width:829px) {
    .body{
        .main{
            .section{
                p{
                    font-size:19px;
                }
            }
        }
    }
}
/* contenedores uno dos tres*/
@media screen and (max-width:791px) {
    .body{
        .main{
            .section{
                .contenedorImagenUno{
                    height: 70%;
                }
                .contenedorImagenDos{
                    height: 70%;
                }
                
            }
        }
    }
}

@media screen and (max-width:760px) {
    .body{
        .main{
            .section{
               p{
                font-size: 15px;
               }
            }
        }
    }
}


@media screen and (max-width:674px) {
    .body {
        .main {
            .section {
                grid-template-columns: 1fr;
                display: grid;
                grid-template-areas: "contenedorTitulo"
                                    "contenedorImagenUno"
                                    "contenedorImagenDos"
                                    "contenedorImagenTres"
                                    "divMate";
               
        color: whitesmoke;
        background-color: rgb(164, 196, 100);

         .contenedorTitulo {
            grid-area: contenedorTitulo;
        }

        .contenedorImagenUno {
            grid-area: contenedorImagenUno;
            padding: 15px;
        }
    
        .contenedorImagenDos {
            grid-area: contenedorImagenDos;
            padding: 15px;
        }
    
        .contenedorImagenTres {
            grid-area: contenedorImagenTres;
            padding: 15px;
        }

        .divMate {
             grid-area: divMate;
            width: 100%;
            display: flex;
            justify-self: center;
                }
        .contenedorTitulo{
            p{
                font-size: 14px;
                padding: 15px;
            }

        }
              
            }
        }
    }
}

@media screen and (max-width:475px) {
    .body{
        .main{
            .section{
                .divMate{
                    h3{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:376px) {
    .body{
        .footer{
            flex-direction: inherit;
            .tituloFooter{
                display: none;
            }
        }
    }
}

/*GALERIA MEDIA QUERIES*/
@media screen and (max-width: 501px) {
    .bodyG{
        .mainG{
            .sectionG{
                .mainTitutloGaleria{
                    font-size: 3rem;
                    text-align: center;
                }
            }
        }
    }
    
}
 
@media screen and (max-width: 445px) {
    .bodyG{
        .mainG{
            .sectionG{
                .carrusel{
                   width: 80%;
                }
            }
        }
    }
    
}
 
@media screen and (max-width: 407px) {
    .bodyG{
        .mainG{
            .sectionG{
                .mainTitutloGaleria{
                    font-size: 2rem;
                    text-align: center;
                }
            }
        }
    }
    
}

@media screen and (max-width: 398px) {
    .bodyG{
        .mainG{
            .sectionG{
                .carrusel{
                   width: 70%;
                }
            }
        }
    }
    
}
 
@media screen and (max-width: 378px) {
    .bodyG{
        .mainG{
            .sectionG{
                .carrusel{
                   width: 60%;
                }
            }
        }
    }
    
}
 
/*NOSOTROS*/
@media screen and (max-width:596px) {
    .bodyN{
        .mainN{
            .sectionN{
                    display: grid;
                    grid-template-areas: "TitutloMainN TitutloMainN"
                        "parrafoMainN parrafoMainN "
                        "contenedorCardUno contenedorCardDos "
                        "contenedorCardTres contenedorCardTres";
                        background-color:nth($list:$colores, $n:2 );

                        .TitutloMainN{
                            grid-area: TitutloMainN;
                        }
                        .parrafoMainN{
                            grid-area: parrafoMainN;
                        }
                        .contenedorCardUno{
                            grid-area: contenedorCardUno;
                        }
                        .contenedorCardDos{
                            grid-area:  contenedorCardDos;
                        }
                        .contenedorCardTres{
                            grid-area: contenedorCardTres;
                        }
        
            }
        }
    }
}

@media screen and (max-width:401px) {
    .bodyN{
        .mainN{
            .sectionN{
                    display: grid;
                    grid-template-areas: "TitutloMainN"
                        "parrafoMainN"
                        "contenedorCardUno"
                        "contenedorCardDos"
                        "contenedorCardTres";
                        background-color:nth($list:$colores, $n:2 );

                        .TitutloMainN{
                            grid-area: TitutloMainN;
                            font-size: 2rem;
                        }
                        .parrafoMainN{
                            grid-area: parrafoMainN;
                        }
                        .contenedorCardUno{
                            grid-area: contenedorCardUno;
                        }
                        .contenedorCardDos{
                            grid-area:  contenedorCardDos;
                        }
                        .contenedorCardTres{
                            grid-area: contenedorCardTres;
                        }
            }
        }
    }
}

/*MEDIA QUERIES CONTACTO*/
@media screen and (max-width:363px) {
    .sectionContacto{
        .dContacto{
            .tituloContacto{
                font-size: 2rem;
            }
        }
    }  
}
 

/*MEDIA QUERIES MATE TERMO BOMBILLAS*/
@media screen and (max-width:1002px) {
    .bodyMates{
        .mainMates{ 
            .mainMatesSection{
                display: grid;
                    grid-template-areas:
                       "mainMatesTitulo mainMatesTitulo "
                       " contenedorCardMatesUno contenedorCardMatesDos"
                        " contenedorCardMatesTres  contenedorCardMatesCuatro"
                        "contenedorCardMatesCinco contenedorCardMatesSeis";
                     
                        .mainMatesTitulo{
                            grid-area: mainMatesTitulo;
                        }
                        .contenedorCardMatesUno{
                            grid-area: contenedorCardMatesUno;
                        }
                        .contenedorCardMatesDos{
                            grid-area: contenedorCardMatesDos;
                        }
                        .contenedorCardMatesTres{
                            grid-area: contenedorCardMatesTres;
                        }
                        .contenedorCardMatesCuatro{
                
                            grid-area: contenedorCardMatesCuatro ;
                        }
                    }
            }
        }
    }

    @media screen and (max-width:662px) {
        .bodyMates{
            .mainMates{ 
                .mainMatesSection{
                    display: grid;
                        grid-template-areas:
                           "mainMatesTitulo "
                           " contenedorCardMatesUno"
                            "contenedorCardMatesDos"
                            "contenedorCardMatesTres"
                            "contenedorCardMatesCuatro"
                             "contenedorCardMatesCinco"
                             "contenedorCardMatesSeis";
                         
                            .mainMatesTitulo{
                                grid-area: mainMatesTitulo;
                            }
                            .contenedorCardMatesUno{
                                grid-area: contenedorCardMatesUno;
                            }
                            .contenedorCardMatesDos{
                                grid-area: contenedorCardMatesDos;
                            }
                            .contenedorCardMatesTres{
                                grid-area: contenedorCardMatesTres;
                            }
                            .contenedorCardMatesCuatro{
                    
                                grid-area: contenedorCardMatesCuatro ;
                            }
                        }
                }
            }
        }
    
    
